body {
    font-family: Lato;
    color: black;
    background-color: whitesmoke;
}

main {
    width: 95%;
    margin: auto;
}

#title {
    text-align: center;
    font-size: 3em;
}

#quote-block {
    text-align: center;
    font-weight: 900;
    padding: 20px;
    border-radius: 4px;
}

#quote-diop {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

#quote-reference {
    font-size: small;
}

#img-div {
    width: 96%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 1%;
    border-radius: 4px;
}

#image {
    display: block;
    width: 90%;
    margin: auto;
    max-width: 95%;

}

#tribute-info {
    width: 94%;
    margin: auto;
    font-weight: 375;
    background-color: white;
    padding: 2%;
}

h2 {
    text-align: center;
    margin: 8%;
    background-color: lightgrey;
    border-radius: 4px;
    padding: 5px;
}

#more-infos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 100;
    text-align: center;
}

.event date {
    font-weight: bold;
}

footer {
    text-align: center;
    margin: 8%;
}